.wrapper {
  max-width: 800px;
  margin: 40px auto;
}

.breadcrumb {
  margin-bottom: 20px;
}

.link {
  display: flex;
  align-items: center;
  color: #66666e;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.chevron {
  width: 24px;
  height: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  border: 1px solid #ededf0;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.02);
  padding: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.moreMenu {
  position: absolute;
  right: 0;
  top: 0;
}

.projectIcon {
  width: 40px;
  height: 40px;
}

.title {
  color: #333236;
  font-size: 38px;
  font-weight: 700;
  margin: 0;
}

.description {
  color: #888893;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  margin: 0;
}
