.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chevron {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #333236;
}

.chevron.inactive {
  color: #c2c3cd;
  cursor: default;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid #e5e5ea;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.02);
}

.page.active {
  border: 1px solid #fff;
  background: #333236;
  color: #fff;
}
